.nav{
    background-image: url(/img/dog-face.ico);
}
article{
    margin-top: 10px;
}
.carousel-item img{
    width: auto;
    height: 700px;
}
@media screen {
    
}
/* 
 justera om mobile och tablet
@media screen {
   .carousel-item img{
    width: auto;
    height: auto;
} 
}


*/